{% extends "/customer/shared/base.html" %}

{% block custom_css %}
	<link rel="stylesheet" href="/static/css/customer/navbar.css">
{% endblock %}

{% block bottom %}
<div class="container fixed-bottom">
	<div class="row" style="height: 54px;">
		<div class="rectangle672"></div>
		<div class="col col-xs-4 text-center customNavItem">
			<a href="{{ url_for('customer_home.home') }}" class="customNavItemContent">
				<img src="/static/svg/home.svg" alt="home">
				<br><span>Home</span>
			</a>
		</div>
		<div class="col col-xs-4 text-center customNavItem">
			<a href="{{ url_for('customer_cart.cart') }}" class="customNavItemContent">
				<img src="/static/svg/cart.svg" alt="cart">
				<br><span>Cart</span>
			</a>
		</div>
		<div class="col col-xs-4 text-center customNavItem">
			<a href="{{ url_for('customer_me.me') }}" class="customNavItemContent">
				<img src="/static/svg/user.svg" alt="me">
				<br><span>Me</span>
			</a>
		</div>
	</div>
</div>
{% endblock %}