<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="/static/bootstrap-3.4.1/css/bootstrap.min.css" rel="stylesheet">
        <style media="screen">
            .list-group > .list-group {
                display: none;
                margin-bottom: 0;
                }
            .list-group-item:focus-within + .list-group {
                display: block;
            }

            .list-group > .list-group-item {
                border-radius: 0;
                border-width: 1px 0 0 0;
            }

            .list-group > .list-group-item:first-child {
                border-top-width: 0;
            }

            .list-group  > .list-group > .list-group-item {
                padding-left: 2.5rem;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <p class="navbar-text">Mooli Milk Tea Management System</p>
            <p class="navbar-text navbar-right">Logged in as admin (<a href="#">logout</a>) </p>
        </nav>

        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                  <a href="#" class="list-group-item">Dashboard</a>
                  <a href="#" class="list-group-item">Products</a>
                  <a href="#" class="list-group-item">Orders</a>
                  <a href="#" class="list-group-item">Coupon</a>
                  <a href="#" class="list-group-item">Redeem</a>
                  <a href="#" class="list-group-item">Deposite</a>

                </div>
            </div>
            <div class="col-md-10">
                <p><a href="#">Home</a> / Products </p>
                <button class="btn btn-primary" type="button" name="button"> <span class="glyphicon glyphicon-plus"></span>Add </button> <br><br>

                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Rating</th>
                        <th>Manage</th>
                    </tr>
                    <tr>
                        <td>Milk Tea (Original)</td>
                        <td>Milk Tea</td>
                        <td>$12.99</td>
                        <td>4.8</td>
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Milk Tea (Original)</td>
                        <td>Milk Tea</td>
                        <td>$12.99</td>
                        <td>4.8</td>
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Milk Tea (Original)</td>
                        <td>Milk Tea</td>
                        <td>$12.99</td>
                        <td>4.8</td>
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Milk Tea (Original)</td>
                        <td>Milk Tea</td>
                        <td>$12.99</td>
                        <td>4.8</td>
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Milk Tea (Original)</td>
                        <td>Milk Tea</td>
                        <td>$12.99</td>
                        <td>4.8</td>
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Milk Tea (Original)</td>
                        <td>Milk Tea</td>
                        <td>$12.99</td>
                        <td>4.8</td>
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/bootstrap-3.4.1/js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
