{% extends "/customer/shared/frame.html" %}

{% block title %}AccountInfo{% endblock %}

{% block custom_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/customer/account.css">
{% endblock %}

{% block frame_back_link %}{{ url_for('customer_me.me') }}{% endblock %}
{% block frame_title %}Account{% endblock %}
{% block frame_submit_form %}edit-form{% endblock %}
{% block frame_next_btn %}Confirm{% endblock %}

{% block content %}
<style>

</style>

<div class="">
	<div class="row row-cols-3" style="height: 30px;">
	</div>

	<div class="row row-cols-3" style="height: 80px;">
		<div class="col-3"></div>
		<div class="col-6" style="text-align: center;">
			{% if user['avatar'] == 'None' %}
				<img class="mb-4" src="/static/customer/default_avatar.png" alt="" width="130px" height="130px"
				style="border-radius:100%">
			{% else %}
				<img class="mb-4" src="data:image/png;base64,{{ user['avatar'] }}" alt="" width="130px" height="130px"
				style="border-radius:100%">
			{% endif %}
		</div>
		<div class="col-3"></div>
	</div>

	<div class="row row-cols-3" style="height: 60px;">
	</div>

	<div class="row row-cols-3" style="height:30px;">
		<div class="col-3"></div>
		<div class="col-6" style="text-align: center;">
			<a href="{{ url_for('customer_me.change_avatar') }}" class="btn1 change">Change Avatar</a>
		</div>
		<div class="col-3"></div>
	</div>

	<div class="row row-cols-3" style="height:50px;">
		<div class="col-3"></div>
		<div class="col-6" style="text-align: center;">
			<a href="{{ url_for('customer_me.change_password') }}" class="btn1 change">Change Password</a>
		</div>
		<div class="col-3"></div>
	</div>

	<form action="{{ url_for('customer_me.account') }}" method="post" id="edit-form">
		<div class="row row-cols-3" style="height: 50px;">
			<div class="col-4 name">
				Name
			</div>
			<div class="col-8">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<input name="first_name" type="text" class="form-control" placeholder="First name" aria-label="FirstName"
					aria-describedby="addon-wrapping" style="font-family: Avenir, Arial;width:70%;" value="{{ user['first_name'] }}">
			</div>
		</div>

		<div class="row row-cols-3" style="height: 50px;">
			<div class="col-4">
			</div>
			<div class="col-8">
				<input name="last_name" type="text" class="form-control" placeholder="Last name" aria-label="Last name"
					aria-describedby="addon-wrapping" style="font-family: Avenir, Arial;width:70%;" value="{{ user['last_name'] }}">
			</div>
		</div>

		<div class="row row-cols-3" style="height: 20px;"></div>

		<div class="row row-cols-3" style="height: 50px;text-align: center;">
			<div class="col-8" style="font-family: 'Open Sans', Arial;color: #351800;padding-left: 40px;">
				<b>Private information</b>
			</div>
			<div class="col-4"></div>
		</div>

		<div class="row row-cols-3" style="height: 50px;">
			<div class="col-4" style="text-align: right;padding-left: 25px;padding-top:5px;font-family: 'Open Sans', Arial;color:#652d00;">
				Phone
			</div>
			<div class="col-8">
				<input name="phone" type="text" class="form-control" placeholder="Phone number" aria-label="Phone number" value="{{ user['phone'] }}"
					aria-describedby="addon-wrapping" style="font-family: Avenir, Arial;width:75%;">
			</div>
		</div>

		<div class="row row-cols-3" style="height: 50px;">
			<div class="col-4" style="text-align: right;padding-left: 25px;padding-top:5px;font-family: 'Open Sans', Arial;color:#652d00;">
				Gender
			</div>
			<div class="col-8" style="font-family: 'Open Sans', Arial;">
				<select class="form-control" id="new-gender" name="gender" style="width:75%;">
					{% if user['gender'] == 'F' %}
						<option value='M'>Male</option>
						<option value='F' selected>Female</option>
					{% else %}
					<option value='M' selected>Male</option>
					<option value='F'>Female</option>
					{% endif %}
					
				</select>
			</div>
		</div>

	</form>
</div>
{{ super() }}
{% endblock %}