{% extends "/customer/shared/base.html" %}

{% block title %}AccountInfo{% endblock %}

{% block content %}
<style>
      html {
        height: 100%;
        width: 100%;
      }
      .btn1:focus,.btn1:active:focus,.btn1.active:focus,.btn1.focus,.btn1:active.focus,.btn1.active.focus {    outline: none;    border-color: transparent;    box-shadow:none; padding: 1px 6px;}
      .form-control:focus{
        border-color:#ced4da;
        box-shadow:none;
        background-color: #cddc0000;
      }
      body {
        font-family: 'Open Sans', serif;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
      }

</style>

<div class="">
  <div class="row row-cols-3" style="height: 30px;">
  </div>
  <div class="row row-cols-3" style="height: 25px;">
      <div class="col-3" style="padding-left: 30px;">
          <a href="{{ url_for('customer_view.me') }}">
            <span class="align-middle"><svg  viewBox="-0.75 -0.75 12.2412109375 20.2650146484375" style="height: 20px; fill:  	#652d00;"><path d="M 10.3725004196167 0.3675000071525574 C 9.882499694824219 -0.1225000023841858 9.092499732971191 -0.1225000023841858 8.602499961853027 0.3675000071525574 L 0.2924999892711639 8.677499771118164 C -0.09749999642372131 9.067500114440918 -0.09749999642372131 9.697500228881836 0.2924999892711639 10.08749961853027 L 8.602499961853027 18.39749908447266 C 9.092499732971191 18.88750076293945 9.882499694824219 18.88750076293945 10.3725004196167 18.39749908447266 C 10.86250019073486 17.90749931335449 10.86250019073486 17.11750030517578 10.3725004196167 16.62750053405762 L 3.132499933242798 9.377499580383301 L 10.38249969482422 2.127500057220459 C 10.86250019073486 1.647500038146973 10.86250019073486 0.8475000262260437 10.3725004196167 0.3675000071525574 Z"  /></svg></span>
          </a> 
      </div>
      <div class="col-6">
          <div class="title" style="background-color: rgba(255, 255, 255, 0);
          color:  	 	#652d00;
          text-align: center;
          -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
          font-size: 20.00px;
          font-style: normal;
          font-family: 'SF Pro Text', Arial;">Account info</div>
      </div>
      <div class="col-3" style="text-align: right;">
        <button type="submit" form="edit-form" class="btn1"style="background-color: transparent;border: 1px solid transparent;"><font color="#dfb36a" style="font-size: 20px;font-family: 'SF Pro Text', Arial;">save</font> </button>
      </div>
  </div>

  <div class="row row-cols-3" style="height: 30px;">
  </div>

  <div class="row row-cols-3" style="height: 80px;">
    <div class="col-3"></div>
    <div class="col-6" style="text-align: center;">
      <img class="mb-4" src="/static/customer/test.jpg" alt="" width="130px" height="130px" style="border-radius:100%">
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row row-cols-3" style="height: 60px;">
  </div>

  <div class="row row-cols-3" style="height:50px;">
    <div class="col-3"></div>
    <div class="col-6" style="text-align: center;">
      <button type="button" class="btn1" style="background-color: transparent;border: 1px solid transparent;font-family: Avenir, Arial;font-size: 14.00px;color:  	#dfb36a;">Change Avatar</button>
    </div>
    <div class="col-3"></div>
  </div>

<form action="{{ url_for('customer_view.account') }}" method="post" id="edit-form">
  <div class="row row-cols-3" style="height: 50px;">
    <div class="col-3" style="text-align: right;padding-left: 25px;padding-top:5px;font-family: 'Open Sans', Arial;color:	#652d00;">
      Name
    </div>
    <div class="col-9">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input name="first_name" type="text" class="form-control" placeholder="First Name" aria-label="FirstName" aria-describedby="addon-wrapping" style="font-family: Avenir, Arial;" value="{{ user['first_name'] }}">
    </div>
  </div>

  <div class="row row-cols-3" style="height: 50px;">
    <div class="col-3" style="text-align: right;padding-left: 25px;padding-top:5px;font-family: 'Open Sans', Arial;">
      
    </div>
    <div class="col-9">
      <input name="last_name"type="text" class="form-control" placeholder="Last Name" aria-label="LastName" aria-describedby="addon-wrapping" style="font-family: Avenir, Arial;" value="{{ user['last_name'] }}">
    </div>
  </div>
 
  <div class="row row-cols-3" style="height: 20px;"></div>

  <div class="row row-cols-3" style="height: 50px;text-align: center;">
    <div class="col-8" style="font-family: 'Open Sans', Arial; color: #351800;">
      <b>Private information</b>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row row-cols-3" style="height: 50px;">
    <div class="col-3" style="text-align: right;padding-left: 25px;padding-top:5px;font-family: 'Open Sans', Arial;color:	#652d00;" value="{{ user['phone'] }}">
      Phone
    </div>
    <div class="col-9">
      <input name="phone" type="text" class="form-control" placeholder="PhoneNumber" aria-label="PhoneNumber" aria-describedby="addon-wrapping" style="font-family: Avenir, Arial;">
    </div>
  </div>

  <div class="row row-cols-3" style="height: 50px;">
    <div class="col-3" style="text-align: right;padding-left: 25px;padding-top:5px;font-family: 'Open Sans', Arial;color:	#652d00;">
      Gender
    </div>
    <div class="col-9" style="font-family: 'Open Sans', Arial;">
      <select class="form-control" id="new-gender" name="gender" value="{{ user['gender'] }}">
        <option value='M'>Male</option>
        <option value='F'>Female</option>
    </select>
    </div>
  </div>

</form>
</div> 
{{ super() }}
{% endblock %}
