{% extends "/customer/shared/frame.html" %}

{% block title %}AccountInfo{% endblock %}

{% block custom_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/customer/account.css">
{% endblock %}

{% block frame_back_link %}{{ url_for('customer_view.me') }}{% endblock %}
{% block frame_title %}Account{% endblock %}
{% block frame_submit_form %}redeem-form{% endblock %}
{% block frame_next_btn %}Confirm{% endblock %}

{% block content %}
<style>

</style>

<div class="">
	<div class="row row-cols-3" style="height: 30px;">
	</div>

	<div class="row row-cols-3" style="height: 80px;">
		<div class="col-3"></div>
		<div class="col-6" style="text-align: center;">
			<img class="mb-4" src="/static/customer/test.jpg" alt="" width="130px" height="130px" style="border-radius:100%">
		</div>
		<div class="col-3"></div>
	</div>

	<div class="row row-cols-3" style="height: 60px;">
	</div>

	<div class="row row-cols-3" style="height:30px;">
		<div class="col-3"></div>
		<div class="col-6" style="text-align: center;">
			<button type="button" class="btn1 change">
				Change Avatar 
			</button>
		</div>
		<div class="col-3"></div>
	</div>

	<div class="row row-cols-3" style="height:50px;">
		<div class="col-3"></div>
		<div class="col-6" style="text-align: center;">
			<button type="button" class="btn1 change">
				Update Password 
			</button>
		</div>
		<div class="col-3"></div>
	</div>

	<form action="{{ url_for('customer_view.account') }}" method="post" id="edit-form">
		<div class="row row-cols-3" style="height: 50px;">
			<div class="col-4 name">
				Name
			</div>
			<div class="col-8">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<input name="first_name" type="text" class="form-control" placeholder="First Name" aria-label="FirstName"
					aria-describedby="addon-wrapping" style="font-family: Avenir, Arial;width:70%;" value="{{ user['first_name'] }}">
			</div>
		</div>

		<div class="row row-cols-3" style="height: 50px;">
			<div class="col-4">
			</div>
			<div class="col-8">
				<input name="last_name" type="text" class="form-control" placeholder="Last Name" aria-label="LastName"
					aria-describedby="addon-wrapping" style="font-family: Avenir, Arial;width:70%;" value="{{ user['last_name'] }}">
			</div>
		</div>

		<div class="row row-cols-3" style="height: 20px;"></div>

		<div class="row row-cols-3" style="height: 50px;text-align: center;">
			<div class="col-8" style="font-family: 'Open Sans', Arial;color: #351800;padding-left: 40px;">
				<b>Private information</b>
			</div>
			<div class="col-4"></div>
		</div>

		<div class="row row-cols-3" style="height: 50px;">
			<div class="col-4" style="text-align: right;padding-left: 25px;padding-top:5px;font-family: 'Open Sans', Arial;color:#652d00;" value="{{ user['phone'] }}">
				Phone
			</div>
			<div class="col-8">
				<input name="phone" type="text" class="form-control" placeholder="PhoneNumber" aria-label="PhoneNumber"
					aria-describedby="addon-wrapping" style="font-family: Avenir, Arial;width:75%;">
			</div>
		</div>

		<div class="row row-cols-3" style="height: 50px;">
			<div class="col-4" style="text-align: right;padding-left: 25px;padding-top:5px;font-family: 'Open Sans', Arial;color:#652d00;">
				Gender
			</div>
			<div class="col-8" style="font-family: 'Open Sans', Arial;">
				<select class="form-control" id="new-gender" name="gender" style="width:75%;" value="{{ user['gender'] }}">
					<option value='M'>Male</option>
					<option value='F'>Female</option>
				</select>
			</div>
		</div>

	</form>
</div>
{{ super() }}
{% endblock %}