{% extends "/customer/shared/frame.html" %}

{% block title %}Comment{% endblock %}

{% block custom_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/customer/add_comment.css">
{% endblock %}

{% block frame_back_link %}{{ url_for('customer_view.home') }}{% endblock %}
{% block frame_title %}Comments{% endblock %}
{% block frame_submit_form %}{% endblock %}
{% block frame_next_btn %}{% endblock %}

{% block content %}
<div class="row" style="height: 30px;"></div>
<div>
    <div class="text-center">
        <h4>Milk Tea</h4>
    </div>
    <form>
        <h5>Rate and add your comment:</h5><br />
        <h6>Rating:</h6>
        <select class="form-control" name="rating">
			<option>5</option>
			<option>4</option>
			<option>3</option>
			<option>2</option>
			<option>1</option>
		</select><br />
        <h6>Comment:</h6>
        <textarea class="col col-12 col-sm-12 input-comment" name="comment"></textarea><br />
        <button type="submit" name="submit" class="btn btn-warning col col-12 col-sm-12" style="border-radius: 20px;">Submit</button>
    </form>
</div>

{% endblock %}