{% extends "/customer/shared/navbar.html" %}

{% block title %}Cart{% endblock %}

{% block custom_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/customer/cart.css">
{% endblock %}

{% block content %}
<div class="row" style="height: 30px;"></div>
<div class="row" style="height: 50px;">
  <div class="col-3" style="text-align: left;">

  </div>
  <div class="col-6">
    <div class="title text-center" style="text-align: center;color: #652d00;">Cart</div>
  </div>
  <div class="col-3"></div>

</div>
<form action="{{ url_for('customer_view.update_cart_items') }}" id="update-form" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  {% for cart_item in cart_items %}
  <div class="row" style="text-align: center;">
    <div class="card single-item-card">
      <div class="card-body cart-item">
        <div class="row" style="height: 50px;">
          <div class="col-5" style="text-align: left;">
            <div><img src="/static/media/thumbnails/{{ cart_item['product_id'] }}" alt="thumbnail"
                class="milktea-picture"></div>
          </div>
          <div class="col-4">
            <div class="card-text-box">
              <div class="bubble-milk-tea"><b>{{ cart_item['product_name'] }}</b>
              </div>
              <div class="price">${{ cart_item['price'] }}</div>
            </div>
          </div>
          <div class="col-3" style="text-align: right;top: -6px;right: -16px;">
            <a class="delete-cart-item-btn" data-item-id={{ cart_item['cart_item_id'] }}>
              <img src="/static/svg/cross.svg" alt="delete" class="close">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
          </div>
          <div class="col-4">
            <input type="number" id="amount-for-{{ cart_item['cart_item_id'] }}"
              name="amount-for-{{ cart_item['cart_item_id'] }}" value="{{ cart_item['amount'] }}"
              class="drink-amount form-control" readonly style="background-color: rgba(249, 250, 251, 1);">
            <div class="plus-container">
              <a class="adjust-amount-btn" data-item-id={{ cart_item['cart_item_id'] }}
                data-price-delta={{ cart_item['price'] }}>
                <div class="plus-border"></div>
                <img src="/static/svg/plus.svg" alt="plus" class="plus">
              </a>
            </div>
            <div class="minus-container">
              <a class="adjust-amount-btn" data-item-id={{ cart_item['cart_item_id'] }}
                data-price-delta=-{{ cart_item['price'] }}>
                <div class="minus-border"></div>
                <img src="/static/svg/minus.svg" alt="minus" class="minus">
              </a>
            </div>
          </div>
          <div class="col-2" style="left:-20px">
            <div class="single-total-price">$<span
                id="subtotal-for-{{ cart_item['cart_item_id'] }}">{{ cart_item['price'] * cart_item['amount'] }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</form>

<div class="card fixed-bottom bottom-card">
  <div class="card-body">
    <div class="row" style="height: 20px;"></div>
    <div class="row">
      <div class="col-5 your-order">
        Your Orders
      </div>
      <div class="col-7"></div>
    </div>

    <!-- Bill Total -->
    <div class="row" style="height:20px;">
    </div>
    <div class="row">
      <div class="col-8" style="padding-left:30px;font-size: 18.00px;">
        <div style="color:#652d00;">Bill Total</div>
      </div>
      <div class="col-4" class="pull-right" style="padding-right:30px;font-size: 18.00px;color: #351800;">
        <div class="float-right">$<span id="bill-total">{{ total }}</span></div>
      </div>
    </div>

    <div class="row" style="height:30px;">
      <hr width="80%" />
    </div>

    <!-- Grand Total -->
    <div class="row">
      <div class="col-8" style="padding-left:30px;font-size: 18.00px;font-weight: 700;">
        <div style="color:#652d00;">
          Grand Total
        </div>
      </div>
      <div class="col-4" style="padding-right:30px;font-size: 18.00px;font-weight: 700;color: #351800;">
        <div class="float-right">$<span id="grand-total">{{ total }}</span></div>
      </div>
    </div>

    <div class="row" style="height: 30px;"></div>
    <div class="row">
      <div class="col-12" style="text-align: center;">
        <div class="pay-button-container">
          <form action="{{ url_for('customer_view.checkout_coupon') }}" id="test-form"></form>
          <input form="test-form" type="submit" class="btn pay-button" name="btn" value="Proceed to Pay">
        </div>
      </div>
    </div>
  </div>
</div>

{{ super() }}
{% endblock %}

{% block custom_js %}
<script>
  $('.adjust-amount-btn').click(function () {
    var currentBtn = $(this)
    var amountField = $(`#amount-for-${currentBtn.data('item-id')}`)
    var subTotal = $(`#subtotal-for-${currentBtn.data('item-id')}`)
    var billTotal = $('#bill-total')
    var grandTotal = $('#grand-total')
    var multiplicity = currentBtn.data('price-delta') > 0 ? 1 : -1
    var newPrice = (parseFloat(billTotal.html()) + parseFloat(currentBtn.data('price-delta'))).toFixed(2)
    var newSubtotal = (parseFloat(subTotal.html()) + parseFloat(currentBtn.data('price-delta'))).toFixed(2)
    var newAmount = parseInt(amountField.val()) + parseInt(multiplicity)
    if (newAmount < 1) {
      // The amount of a cart item can not be less than 1
      return
    }
    amountField.val(newAmount)
    subTotal.html(newSubtotal)
    billTotal.html(newPrice)
    grandTotal.html(newPrice)
  })

  $('.delete-cart-item-btn').click(function () {
    var currentBtn = $(this)
    var amountField = $(`#amount-for-${currentBtn.data('item-id')}`)
    amountField.val(0)
    $('#update-form').submit()
  })

  $(window).bind('beforeunload', function () {
    $.ajax('{{ url_for('customer_view.update_cart_items') }}', {
      type: 'POST',
      data: $('#update-form').serialize()
    })
  })

</script>
{% endblock %}