{% extends "/customer/shared/base.html" %}

{% block title %}Comment{% endblock %}

{% block content %}
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">back</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav> -->
<br/>
<div>
    <button type="button" class="btn btn-outline-success btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;">All</button>
    <button type="button" class="btn btn-outline-success btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;">Positive</button>
    <button type="button" class="btn btn-outline-success btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;">Critical</button>
    <button type="button" class="btn btn-outline-success btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;">5stars</button>
    <button type="button" class="btn btn-outline-success btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;">4stars</button>
</div>
<hr/>
<div>
    <div class="row">
        <div class="col col-6 col-sm-6">
            <h6 class="text-left">All</h6>
        </div>
        <!-- <div class="col col-4 col-sm-4"></div> -->
        <div class="col col-6 col-sm-6">
            <h6 class="text-right">Most relevant</h6>
        </div>
    </div>
</div>
<br/>
<div>
    <div class="card border-0" style="margin-top: 5px;">
        <div class="card-title">
            <div class="row">
                <div class="col col-2 col-sm-2">
                    <img src="/static/customer/Customer.jpg" style="border-radius: 20px; width: 40px; height: 40px;">
                </div>
                <div class="col col-9 col-sm-9">
                    <h5 style="padding-top: 5px;">Orianna MU</h5>
                </div>
                <div class="col col-1 col-sm-1"></div>
            </div>
        </div>
        <div class="card-body" style="padding-top: 0px;">
            <div>
                <p><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"></p>
                <h6>Aug 26,2020</h6>
                <div class="overflow-auto" style="width: auto; height: 100px;">
                    <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0" style="margin-top: 5px;">
        <div class="card-title">
            <div class="row">
                <div class="col col-2 col-sm-2">
                    <img src="/static/customer/Customer.jpg" style="border-radius: 20px; width: 40px; height: 40px;">
                </div>
                <div class="col col-9 col-sm-9">
                    <h5 style="padding-top: 5px;">Orianna MU</h5>
                </div>
                <div class="col col-1 col-sm-1"></div>
            </div>
        </div>
        <div class="card-body" style="padding-top: 0px;">
            <div>
                <p><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"></p>
                <h6>Aug 26,2020</h6>
                <div class="overflow-auto" style="width: auto; height: 100px;">
                    <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0" style="margin-top: 5px;">
        <div class="card-title">
            <div class="row">
                <div class="col col-2 col-sm-2">
                    <img src="/static/customer/Customer.jpg" style="border-radius: 20px; width: 40px; height: 40px;">
                </div>
                <div class="col col-9 col-sm-9">
                    <h5 style="padding-top: 5px;">Orianna MU</h5>
                </div>
                <div class="col col-1 col-sm-1"></div>
            </div>
        </div>
        <div class="card-body" style="padding-top: 0px;">
            <div>
                <p><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"></p>
                <h6>Aug 26,2020</h6>
                <div class="overflow-auto" style="width: auto; height: 100px;">
                    <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

</div>

</div>

</div>

<style>

</style>
{% endblock %}
