{% extends "/customer/shared/frame.html" %}

{% block title %}Product{% endblock %}

{% block custom_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/customer/comment.css">
{% endblock %}

{% block frame_back_link %}{{ url_for('customer_home.home') }}{% endblock %}
{% block frame_title %}Comments{% endblock %}
{% block frame_submit_form %}link-form{% endblock %}
{% block frame_next_btn %}Add{% endblock %}

{% block content %}
<br />
<div>
    <button type="button" class="btn btn-outline-success btn-sm button-label" value="" name="all"> All </button>
    <button type="button" class="btn btn-outline-success btn-sm button-label" value="" name="5stars"> 5 ★ </button>
    <button type="button" class="btn btn-outline-success btn-sm button-label" value="" name="4stars"> 4 ★ </button>
    <button type="button" class="btn btn-outline-success btn-sm button-label" value="" name="4stars"> 3 ★ </button>
    <button type="button" class="btn btn-outline-success btn-sm button-label" value="" name="4stars"> 2 ★ </button>
    <button type="button" class="btn btn-outline-success btn-sm button-label" value="" name="4stars"> 1 ★ </button>
</div>
<div>
    <div class="row">
        <div class="col col-6 col-sm-6">
            <h6 class="text-left">All</h6>
        </div>
        <div class="col col-6 col-sm-6">
            <h6 class="text-right">Most recent (50)</h6>
        </div>
    </div>
</div>
<br />
<div>
    <div class="card border-0" style="margin-top: 5px;">
        <div class="card-title">
            <div class="row">
                <div class="col col-2 col-sm-2">
                    <img src="/static/customer/Customer.jpg" class="pic-cus">
                </div>
                <div class="col col-9 col-sm-9">
                    <h5 style="padding-top: 5px;">Orianna MU</h5>
                </div>
                <div class="col col-1 col-sm-1"></div>
            </div>
        </div>
        <div class="card-body" style="padding-top: 0px;">
            <div>
                <p><img src="/static/customer/Star.png" class="pic-star"><img src="/static/customer/Star.png" class="pic-star"><img src="/static/customer/Star.png" class="pic-star"><img src="/static/customer/Star.png" class="pic-star"><img src="/static/customer/Star.png"
                        class="pic-star">
                </p>
                <h6>Aug 26,2020</h6>
                <div class="overflow-auto" style="height: 100px;">
                    <p>Test content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
{% endblock %}