{% extends "/customer/shared/base.html" %}

{% block title %}Comment{% endblock %}

{% block custom_css %}
<style>
    .path1c13c5da {
    fill: rgba(0, 0, 0, 0.5411764705882353);
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1.00px;
    stroke-linecap: butt;
    /* box-shadow: none; */
    width: 12.74px;
    height: 20.77px;

}
</style>
{% endblock %}

{% block content %}
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">back</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav> -->
<div class="row" style="height: 15px;"></div>
        <div class="row" style="height: 20px;">
            <div class="col-3" style="text-align: left;">
                <a href="#">
                    <svg preserveAspectRatio="none" viewBox="-0.75 -0.75 12.241260528564453 20.2650146484375" class="path1c13c5da"><path d="M 10.3725004196167 0.3675000071525574 C 9.882499694824219 -0.1225000023841858 9.092499732971191 -0.1225000023841858 8.602499961853027 0.3675000071525574 L 0.2924999892711639 8.677499771118164 C -0.09749999642372131 9.067500114440918 -0.09749999642372131 9.697500228881836 0.2924999892711639 10.08749961853027 L 8.602499961853027 18.39749908447266 C 9.092499732971191 18.88750076293945 9.882499694824219 18.88750076293945 10.3725004196167 18.39749908447266 C 10.86250019073486 17.90749931335449 10.86250019073486 17.11750030517578 10.3725004196167 16.62750053405762 L 3.132499933242798 9.377499580383301 L 10.38249969482422 2.127500057220459 C 10.86250019073486 1.647500038146973 10.86250019073486 0.8475000262260437 10.3725004196167 0.3675000071525574 Z"></path></svg>
                </a>
            </div>
            <div class="col-6">
            </div>
            <div class="col-3" style="text-align: right;right: 5px;">
            </div>
        </div>
<br/>
<div>
    <button type="button" class="btn btn-outline-success btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;">All</button>
    <button type="button" class="btn btn-outline-success btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;">Positive</button>
    <button type="button" class="btn btn-outline-success btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;">Critical</button>
    <button type="button" class="btn btn-outline-success btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;">5stars</button>
    <button type="button" class="btn btn-outline-success btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;">4stars</button>
</div>
<hr/>
<div>
    <div class="row">
        <div class="col col-6 col-sm-6">
            <h6 class="text-left">All</h6>
        </div>
        <!-- <div class="col col-4 col-sm-4"></div> -->
        <div class="col col-6 col-sm-6">
            <h6 class="text-right">Most relevant</h6>
        </div>
    </div>
</div>
<br/>
<div>
    <div class="card border-0" style="margin-top: 5px;">
        <div class="card-title">
            <div class="row">
                <div class="col col-2 col-sm-2">
                    <img src="/static/customer/Customer.jpg" style="border-radius: 20px; width: 40px; height: 40px;">
                </div>
                <div class="col col-9 col-sm-9">
                    <h5 style="padding-top: 5px;">Orianna MU</h5>
                </div>
                <div class="col col-1 col-sm-1"></div>
            </div>
        </div>
        <div class="card-body" style="padding-top: 0px;">
            <div>
                <p><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"></p>
                <h6>Aug 26,2020</h6>
                <div class="overflow-auto" style="width: auto; height: 100px;">
                    <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0" style="margin-top: 5px;">
        <div class="card-title">
            <div class="row">
                <div class="col col-2 col-sm-2">
                    <img src="/static/customer/Customer.jpg" style="border-radius: 20px; width: 40px; height: 40px;">
                </div>
                <div class="col col-9 col-sm-9">
                    <h5 style="padding-top: 5px;">Orianna MU</h5>
                </div>
                <div class="col col-1 col-sm-1"></div>
            </div>
        </div>
        <div class="card-body" style="padding-top: 0px;">
            <div>
                <p><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"></p>
                <h6>Aug 26,2020</h6>
                <div class="overflow-auto" style="width: auto; height: 100px;">
                    <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0" style="margin-top: 5px;">
        <div class="card-title">
            <div class="row">
                <div class="col col-2 col-sm-2">
                    <img src="/static/customer/Customer.jpg" style="border-radius: 20px; width: 40px; height: 40px;">
                </div>
                <div class="col col-9 col-sm-9">
                    <h5 style="padding-top: 5px;">Orianna MU</h5>
                </div>
                <div class="col col-1 col-sm-1"></div>
            </div>
        </div>
        <div class="card-body" style="padding-top: 0px;">
            <div>
                <p><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"><img src="/static/customer/Star.png" style="width: 20px; height: 20px;"></p>
                <h6>Aug 26,2020</h6>
                <div class="overflow-auto" style="width: auto; height: 100px;">
                    <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

</div>

</div>

</div>

<style>

</style>
{% endblock %}
