{% extends "/customer/shared/frame.html" %}

{% block title %}Checkout{% endblock %}

{% block custom_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/customer/coupon.css">
{% endblock %}

{% block frame_back_link %}{{ url_for('customer_cart.cart') }}{% endblock %}
{% block frame_title %}Checkout{% endblock %}
{% block frame_submit_form %}skip-form{% endblock %}
{% block frame_next_btn %}Skip{% endblock %}

{% block content %}
<form action="{{ url_for('customer_checkout.payment') }}" method="POST" id="skip-form">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>
<div class="row" style="height: 50px;"></div>
<div class="row">
	<div class="col-12" style="text-align: center;">
		<div class="titlea5c0fc01">Do you have a coupon code?<br></div>
	</div>
</div>
<div class="row" style="height: 19px;"></div>
<div class="row">
	<div class="col-12" style="text-align: center;">
		<div class="title1">Please enter the coupon code if any<br></div>
	</div>
</div>
<div class="row" style="height: 50px;"></div>
<div class="row">
	<div class="col-12">
		<form action="{{ url_for('customer_checkout.checkout_coupon') }}" method="POST">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<div class="input-group mb-3">
				<input type="text" class="form-control" name="coupon_code" placeholder="Coupon code" autocomplete="off"
					aria-label="Coupon_code" aria-describedby="button-addon2" style="border-right-color:rgba(0, 0, 0, 0)"
					{% if coupon_code != 'None' %}
						value="{{ coupon_code }}"
					{% endif %}
					>
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="submit" id="button-addon2"
						style="border-color:#6c757d ">Verify</button>
				</div>
			</div>
		</form>
	</div>
</div>
{{ super() }}
{% endblock %}