{% extends "/customer/shared/base.html" %}

{% block title %}history{% endblock %}

{% block content %}
<style type="text/css">
    html {
        height: 100%;
        width: 100%;
      }

    body {
        font-family: 'Open Sans', serif;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
      }

      .card {
      background-color: rgba(249, 250, 251, 1);
      border-bottom-style: none;
      border-top-color: rgba(112, 112, 112, 1); 
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 18.00px;
      border-top-right-radius: 18.00px;
      border-bottom-left-radius: 18.00px;
      border-bottom-right-radius: 18.00px;
    filter: drop-shadow(0px 10px 15px rgba(27, 28, 32, 0.10196078431372549));
    height: 50px;
    width: 320px;
    }

    .x4212020830pm {
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      padding-top: 12px;
      padding-left: 50px;
      color: rgba(45, 64, 87, 1);
      font-size: 18.00px;
      font-weight: 500;
    font-style: normal;
      font-family: 'SF Pro Text', Arial;
    }

    .xd657158f {
        padding-bottom: 50px;
      padding-left: 50px;
      color: rgba(249, 60, 100, 1);
    }

</style>

    <div class="">
        <div class="row row-cols-3" style="height: 30px;">
        </div>

        <div class="row row-cols-3" style="height: 25px;">
            <div class="col-3" style="padding-left:25px;">
                <span class="align-middle">
                  <svg  viewBox="-0.75 -0.75 12.2412109375 20.2650146484375" style="height: 20px; fill:  	#652d00;"><path d="M 10.3725004196167 0.3675000071525574 C 9.882499694824219 -0.1225000023841858 9.092499732971191 -0.1225000023841858 8.602499961853027 0.3675000071525574 L 0.2924999892711639 8.677499771118164 C -0.09749999642372131 9.067500114440918 -0.09749999642372131 9.697500228881836 0.2924999892711639 10.08749961853027 L 8.602499961853027 18.39749908447266 C 9.092499732971191 18.88750076293945 9.882499694824219 18.88750076293945 10.3725004196167 18.39749908447266 C 10.86250019073486 17.90749931335449 10.86250019073486 17.11750030517578 10.3725004196167 16.62750053405762 L 3.132499933242798 9.377499580383301 L 10.38249969482422 2.127500057220459 C 10.86250019073486 1.647500038146973 10.86250019073486 0.8475000262260437 10.3725004196167 0.3675000071525574 Z"  /></svg>         
            </div>
            <div class="col-6">
                <div class="title" style="background-color: rgba(255, 255, 255, 0);
                color:  	#652d00;
                text-align: center;
                -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
                font-size: 20.00px;
                font-style: normal;
                font-family: 'SF Pro Text', Arial;">Orders</div>
            </div>
            <div class="col-3">
            </div>
        </div>

        <div class="row row-cols-3" style="height: 30px;">
        </div>


        <div class="row" style="margin: 10px;">
          <div class="col-12 card">
                  <div class="row" style="height: 45px;">
                      <div class="col-8" style="width: 200px;
                      color:  	 #351800;
                      text-align: center;
                      padding-top: 12px;
                      font-size: 18px;
                      font-family: 'SF Pro Text', Arial;">
                        4-21-2020 8:30PM
                      </div>
                      <div class="col-4" style="width: 200px;
                      text-align: center;
                      padding-top: 12px;
                      font-size: 18px;
                      font-family: 'SF Pro Text', Arial;">
                        <font style="color:	#955a3f;">$25.98</font>
                      </div>
                  </div>
          </div>
      </div>

</div>

{{ super() }}
{% endblock %}
