{% extends "/customer/shared/frame.html" %}

{% block title %}history{% endblock %}

{% block custom_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/customer/history.css">
{% endblock %}

{% block frame_back_link %}{{ url_for('customer_me.me') }}{% endblock %}
{% block frame_title %}Order{% endblock %}
{% block frame_submit_form %}redeem-form{% endblock %}
{% block frame_next_btn %}Confirm{% endblock %}

{% block content %}
<style type="text/css">
</style>

<div class="">
	<div class="row row-cols-3" style="height: 30px;">
	</div>

	<div class="row" style="margin: 10px;">
		<div class="col-12 card">
			<div class="row" style="height: 45px;">
				<div class="col-8" id="order">
					4-21-2020 8:30PM
				</div>
				<div class="col-4" id="pay">
					<font style="color:	#955a3f;">$25.98</font>
				</div>
			</div>
		</div>
	</div>

</div>

{{ super() }}
{% endblock %}