{% extends "/shared/navbar.html" %}

{% block title %}Home{% endblock %}

{% block top %}
<img class="fixed-top" src="/static/customer/HomePagePic.png" class="img img-fluid" alt="Responsive image" style="width: 100%;"><br/>
<div class="container fixed-top">
    <div class="row">
        <div class="col col-3 col-sm-3">
            <button class="btn btn-outline-success btn-sm" type="button" value="">Category</button>
        </div>
        <div class="col col-3 col-sm-3">
            <button class="btn btn-outline-success btn-sm" type="button" value="">Category</button>
        </div>
        <div class="col col-3 col-sm-3">
            <button class="btn btn-outline-success btn-sm" type="button" value="">Category</button>
        </div>
        <div class="col col-3 col-sm-3">
            <button class="btn btn-outline-success btn-sm" type="button" value="">Category</button>
        </div>
    </div><br/>
</div>
{% endblock %}

{% block content %}
<div style="margin-top: 200px; margin-bottom: 65px;">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col col-4 col-sm-4">
                    <img src="/static/customer/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
                </div>
                <div class="col col-8 col-sm-8">
                    <h5>Milk Tea</h5>
                    <p>This is a demo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col col-4 col-sm-4">
                    <img src="/static/customer/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
                </div>
                <div class="col col-8 col-sm-8">
                    <h5>Milk Tea</h5>
                    <p>This is a demo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col col-4 col-sm-4">
                    <img src="/static/customer/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
                </div>
                <div class="col col-8 col-sm-8">
                    <h5>Milk Tea</h5>
                    <p>This is a demo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col col-4 col-sm-4">
                    <img src="/static/customer/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
                </div>
                <div class="col col-8 col-sm-8">
                    <h5>Milk Tea</h5>
                    <p>This is a demo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col col-4 col-sm-4">
                    <img src="/static/customer/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
                </div>
                <div class="col col-8 col-sm-8">
                    <h5>Milk Tea</h5>
                    <p>This is a demo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}
