{% extends "/customer/shared/navbar.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-sm-12" style="width: 100%; padding-left: 0; padding-right: 0;">
        <img src="/static/customer/HomePagePic.png" class="img img-fluid" alt="Responsive image" style="width: 100%;"><br/>
    </div>
</div>
<div class="row">
    <div class="col col-3 col-sm-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Milk Tea</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Green Tea & Red Tea</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Juice</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
        </ul>
    </div>
    <div class="col col-9 col-sm-9 overflow-auto" style="height: 520px;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col col-4 col-sm-4">
                        <img src="/static/customer/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
                    </div>
                    <div class="col col-8 col-sm-8">
                        <h5>Milk Tea</h5>
                        <p>This is a demo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col col-4 col-sm-4">
                        <img src="/static/customer/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
                    </div>
                    <div class="col col-8 col-sm-8">
                        <h5>Milk Tea</h5>
                        <p>This is a demo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col col-4 col-sm-4">
                        <img src="/static/customer/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
                    </div>
                    <div class="col col-8 col-sm-8">
                        <h5>Milk Tea</h5>
                        <p>This is a demo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col col-4 col-sm-4">
                        <img src="/static/customer/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
                    </div>
                    <div class="col col-8 col-sm-8">
                        <h5>Milk Tea</h5>
                        <p>This is a demo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col col-4 col-sm-4">
                        <img src="/static/customer/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
                    </div>
                    <div class="col col-8 col-sm-8">
                        <h5>Milk Tea</h5>
                        <p>This is a demo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}
