{% extends "/customer/shared/base.html" %}

{% block title %}Please Login{% endblock %}

{% block custom_css %}
<style>

a:hover{
    text-decoration: none;
}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {    outline: none;    border-color: transparent;    box-shadow:none;}
.form-control:focus{
    border-color:#ced4da;
    box-shadow:none;
    background-color: #cddc0000;
    
}
.form-control{
    display: inline-block;
}

.path663e31f9ba {
      fill: rgba(238, 219, 185, 1);
    filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.03137254901960784));
    height: 50.00px;
}




.path66 {
    
      fill: transparent;
      stroke: rgba(249, 60, 100, 1);
          stroke-width: 0.50px;
          stroke-linecap: butt;
      -webkit-filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.03137254901960784));
    filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.03137254901960784));

    height: 50.00px;


}
.path1c13c5da {
    fill: rgba(0, 0, 0, 0.5411764705882353);
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1.00px;
    stroke-linecap: butt;
    /* box-shadow: none; */
    width: 12.74px;
    height: 20.77px;

}

</style>
{% endblock %}

{% block content %}
<div class="row" style="height: 30px;"></div>
<div class="row" style="height: 50px;">
    <div class="col-3" style="text-align: left;">
        <a href="#" style="padding-left: 15px;color:#955a3f ;">
            <svg preserveAspectRatio="none" viewBox="-0.75 -0.75 12.241260528564453 20.2650146484375" class="path1c13c5da"><path d="M 10.3725004196167 0.3675000071525574 C 9.882499694824219 -0.1225000023841858 9.092499732971191 -0.1225000023841858 8.602499961853027 0.3675000071525574 L 0.2924999892711639 8.677499771118164 C -0.09749999642372131 9.067500114440918 -0.09749999642372131 9.697500228881836 0.2924999892711639 10.08749961853027 L 8.602499961853027 18.39749908447266 C 9.092499732971191 18.88750076293945 9.882499694824219 18.88750076293945 10.3725004196167 18.39749908447266 C 10.86250019073486 17.90749931335449 10.86250019073486 17.11750030517578 10.3725004196167 16.62750053405762 L 3.132499933242798 9.377499580383301 L 10.38249969482422 2.127500057220459 C 10.86250019073486 1.647500038146973 10.86250019073486 0.8475000262260437 10.3725004196167 0.3675000071525574 Z"></path></svg>
        </a>
    </div>
    <div class="col-6">
    </div>
    <div class="col-3" style="text-align: right;right: 5px;">
    </div>
</div>
<div class="row" style="height:10px;"></div>

<div class="row">
    <div class="col-12" style="text-align: center;">
        <img src="../../static/customer/logo11.png" alt="pic lost" style="width:192px;height:222px;">
    </div>
</div>
<div class="row" style="height: 150px;"></div>

<div class="row" style="text-align: center;">
    <div class="col-12" style="text-align: center;">
        <input type="submit" class="btn" name="submit" value="SIGN IN" style="background-color: #dfb36a;width: 280px;height: 52px; border-radius: 50px;line-height: 35.00px;
                letter-spacing: 1.40px;
                color: #955a3f; 
                font-size: 14.00px;
                font-weight: 1000;
                font-style: normal;
                font-family: 'SF Pro Text', Arial;
                white-space: pre;">
    </div>
</div>

<div class="row" style="height: 20px;">

</div>

<div class="row" style="text-align: center;">
    <div class="col-12" style="text-align: center;">
        <input type="button" onclick="" class="btn" value="SIGN UP" style="background-color: rgba(238, 218, 185, 0);width: 280px;height: 52px; border-radius: 50px;line-height: 35.00px;
            letter-spacing: 1.40px;
            border: 2px solid #955a3f;
            color: #dfb36a; 
            font-size: 14.00px;
            font-weight: 1000;
            font-style: normal;
            font-family: 'SF Pro Text', Arial;
            white-space: pre;">
        
    </div>
</div>

{{ super() }}
{% endblock %}
