{% extends "/customer/shared/navbar.html" %}

{% block title %}Please Login{% endblock %}

{% block custom_css %}
<style>

a:hover{
    text-decoration: none;
}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {    outline: none;    border-color: transparent;    box-shadow:none;}
.form-control:focus{
    border-color:#ced4da;
    box-shadow:none;
    background-color: #cddc0000;
    
}
.form-control{
    display: inline-block;
}

.path663e31f9ba {
      fill: rgba(238, 219, 185, 1);
    filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.03137254901960784));
    height: 50.00px;
}




.path66 {
    
      fill: transparent;
      stroke: rgba(249, 60, 100, 1);
          stroke-width: 0.50px;
          stroke-linecap: butt;
      -webkit-filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.03137254901960784));
    filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.03137254901960784));

    height: 50.00px;


}


</style>
{% endblock %}

{% block content %}
<div class="row" style="height: 135px;"></div>
<div class="row">
    <div class="col-12" style="text-align: center;">
        <img src="../../static/customer/logo11.png" alt="pic lost" style="width:192px;height:222px;">
    </div>
</div>
<div class="row" style="height: 70px;"></div>

<div class="row" style="text-align: center;">
    <div class="col-12" style="text-align: center;">
        <input type="submit" class="btn" value="SIGN IN" style="background-color: rgba(238, 219, 185, 1);width: 280px;height: 52px; border-radius: 50px;line-height: 35.00px;
                letter-spacing: 1.40px;
                color: rgba(255, 255, 255, 1); 
                font-size: 14.00px;
                font-weight: 300;
                font-style: normal;
                font-family: 'SF Pro Text', Arial;
                white-space: pre;">
    </div>
</div>

<div class="row" style="height: 20px;">

</div>

<div class="row" style="text-align: center;">
    <div class="col-12" style="text-align: center;">
        <input type="submit" class="btn" value="SIGN UP" style="background-color: rgba(238, 218, 185, 0);width: 280px;height: 52px; border-radius: 50px;line-height: 35.00px;
            letter-spacing: 1.40px;
            border-color: rgba(249, 60, 100, 0.5);
            color: rgba(249, 60, 100, 1); 
            font-size: 14.00px;
            font-weight: 300;
            font-style: normal;
            font-family: 'SF Pro Text', Arial;
            white-space: pre;">
        
    </div>
</div>

{{ super() }}
{% endblock %}
