{% extends "/shared/base.html" %}

{% block title %}orderPlaced{% endblock %}

{% block content %}
<style type="text/css">
    .orderPlaced {
        display: block;
        position: absolute;
        box-sizing: content-box;
        opacity: 1;
        cursor: default;
        overflow-x: auto;
        overflow-y: auto;
        background-color: rgba(255, 255, 255, 1);
        width: 375.00px;
        height: 812.00px;
        left: 0px;
        top: 0px;

    }

    .orderPlaced .title {
        position: absolute;
        box-sizing: content-box;
        opacity: 1;
        cursor: default;
        background-color: rgba(255, 255, 255, 0);
        text-align: center;
        line-height: 22.00px;
        letter-spacing: -0.48px;
        color: rgba(45, 64, 87, 1);
        -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
        font-size: 20.00px;
        font-weight: 400;
        font-style: normal;
        font-family: 'SF Pro Text', Arial;
        text-decoration: none;
        box-shadow: none;
        white-space: pre;
        width: 94.00px;
        height: 49.00px;
        left: 141.00px;
        top: 51.50px;

    }

    .orderPlaced .done {
        display: block;
        position: absolute;
        box-sizing: content-box;
        opacity: 1;
        cursor: default;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 180.00px;
        height: 41.96px;
        left: 98.00px;
        top: 735.00px;

    }

    .orderPlaced .done .x1628 {
        position: absolute;
        box-sizing: content-box;
        opacity: 1;
        cursor: default;
        fill: rgba(238, 219, 185, 1);
        -webkit-filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08235294117647059));
        filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08235294117647059));
        width: 180.00px;
        height: 41.96px;
        left: 0.00px;
        top: 0.00px;

    }

    .orderPlaced .done .backToHome {
        position: absolute;
        box-sizing: content-box;
        opacity: 1;
        cursor: default;
        background-color: rgba(255, 255, 255, 0);
        text-align: left;
        letter-spacing: 0.00px;
        color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
        font-size: 14.00px;
        font-weight: 400;
        font-style: normal;
        font-family: 'SF Pro Text', Arial;
        -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1607843137254902));
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1607843137254902));
        overflow-x: unset;
        overflow-y: unset;
        white-space: pre;
        width: 87.00px;
        height: 19.00px;
        left: 30.00px;
        top:0.00px;

    }

    .orderPlaced .x2557 {
        display: block;
        position: absolute;
        box-sizing: content-box;
        opacity: 1;
        cursor: default;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 123.00px;
        height: 137.55px;
        left: 121.00px;
        top: 337.00px;

    }

    .orderPlaced .x2557 .orderPlaced94f763ae {
        position: absolute;
        box-sizing: content-box;
        opacity: 0.800000011920929;
        cursor: default;
        background-color: rgba(255, 255, 255, 0);
        text-align: left;
        letter-spacing: -0.40px;
        color: rgba(45, 64, 87, 1);
        -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
        font-size: 20.00px;
        font-weight: 700;
        font-style: normal;
        font-family: 'SF Pro Text', Arial;
        overflow-x: unset;
        overflow-y: unset;
        white-space: pre;
        width: 123.00px;
        height: 27.00px;
        left: 0.00px;
        top: 110.55px;

    }

    .orderPlaced .x2557 .x2296 {
        display: block;
        position: absolute;
        box-sizing: content-box;
        cursor: default;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 95.55px;
        height: 95.55px;
        left:-10.00px;
        top: -100.00px;

    }

    .orderPlaced .x2557 .x2296 .x2176 {
        display: block;
        position: absolute;
        box-sizing: content-box;
        opacity: 1;
        cursor: default;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 95.55px;
        height: 95.55px;
        left: 0.00px;
        top: 0.00px;

    }

    .orderPlaced .x2557 .x2296 .x2176 .x1520 {
        position: absolute;
        box-sizing: content-box;
        opacity: 0.800000011920929;
        cursor: default;
        fill: transparent;
        box-shadow: none;
        width: 95.55px;
        height: 95.55px;
        left: 0.00px;
        top: 0.00px;

    }

    .orderPlaced .x2557 .x2296 .x1602 {
        position: absolute;
        box-sizing: content-box;
        opacity: 1;
        cursor: default;
        fill: transparent;
        stroke: rgba(255, 255, 255, 1);
        stroke-width: 10.00px;
        stroke-linecap: round;
        box-shadow: none;
        width: 53.09px;
        height: 42.91px;
        left: 21.87px;
        top: 26.30px;
    }


 </style>

<body>
<div class="orderPlaced">        
    <div class="title">Completed<br/></div> 
        <div class="done">            <svg preserveAspectRatio="none" viewBox="0 0 180 41.95703125" class="x1628"><path d="M 20.978515625 0 L 159.021484375 0 C 170.6076049804688 0 180 9.392400741577148 180 20.978515625 C 180 32.56462860107422 170.6076049804688 41.95703125 159.021484375 41.95703125 L 20.978515625 41.95703125 C 9.392400741577148 41.95703125 0 32.56462860107422 0 20.978515625 C 0 9.392400741577148 9.392400741577148 0 20.978515625 0 Z"  /></svg>
            <div class="backToHome"><button type="button" class="btn btn-outline-sucess"><font color="grey"><a href="home.html">Back to home</a></font></button></div>
        </div>
        <div class="x2557">            
            <div class="orderPlaced94f763ae">Order Placed!</div>
            <div class="x2296">                <div class="x2176">                    <svg class="bi bi-check-circle" width="150px" height="150px" viewBox="0 0 16 16" fill="green" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" clip-rule="evenodd"/>
              </svg>
            </div>
                <svgpreserveAspectRatio="none" viewBox="4.5 7.5 48.0931396484375 37.91064453125" class="x1602"><path d="M 45.09311676025391 15 L 24.72810935974121 37.91064453125 L 12 27.7281379699707"  /></svg>
            </div>
        </div>
</div>
</body>
{{ super() }}
{% endblock%}
