{% extends "/customer/shared/base.html" %}

{% block title %}ProductInfoOrder{% endblock %}

{% block custom_css %}
<style>
    .path1c13c5da {
    fill: rgba(0, 0, 0, 0.5411764705882353);
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1.00px;
    stroke-linecap: butt;
    /* box-shadow: none; */
    width: 12.74px;
    height: 20.77px;

}

</style>
{% endblock %}

{% block content %}
<div style="padding-bottom: 100px;">
    <div class="container">
        <div class="row" style="height: 15px;"></div>
        <div class="row" style="height: 50px;">
            <div class="col-3" style="text-align: left;">
                <a href="#">
                    <svg preserveAspectRatio="none" viewBox="-0.75 -0.75 12.241260528564453 20.2650146484375" class="path1c13c5da" style="height: 20px; fill: 	#652d00;"><path d="M 10.3725004196167 0.3675000071525574 C 9.882499694824219 -0.1225000023841858 9.092499732971191 -0.1225000023841858 8.602499961853027 0.3675000071525574 L 0.2924999892711639 8.677499771118164 C -0.09749999642372131 9.067500114440918 -0.09749999642372131 9.697500228881836 0.2924999892711639 10.08749961853027 L 8.602499961853027 18.39749908447266 C 9.092499732971191 18.88750076293945 9.882499694824219 18.88750076293945 10.3725004196167 18.39749908447266 C 10.86250019073486 17.90749931335449 10.86250019073486 17.11750030517578 10.3725004196167 16.62750053405762 L 3.132499933242798 9.377499580383301 L 10.38249969482422 2.127500057220459 C 10.86250019073486 1.647500038146973 10.86250019073486 0.8475000262260437 10.3725004196167 0.3675000071525574 Z"></path></svg>
                </a>
            </div>
            <div class="col-6">
            </div>
            <div class="col-3" style="text-align: right;right: 5px;">
            </div>
        </div>
        <img src="/static/customer/MilkTea/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
    </div><br/>
    <div>
        <div class="text-center">
            <h4 style="color:#351800">Milk Tea</h4>
            <p style="color:  	#dfb36a;"><img src="/static/customer/Star.png" class="img img-fluid" alt="Responsive image">4.8 (233 ratings)</p>
        </div>
        <div class="overflow-auto" style="width: auto; height: 100px; margin-left: 20px; margin-right: 20px;color: #351800;">testing content: This is season limited, made of fresh peaches and green tea, (100% ice, 70% ice, 40% ice, 10% ice, no ice / 100% sugar, 70% sugar, 40% sugar, 10% sugar, no sugar)</div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card d-block w-100 border-0" style="margin-top: 5px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-4 col-sm-4">
                                    <img src="/static/customer/Customer.jpg" class="img img-fluid rounded" alt="Responsive image">
                                </div>
                                <div class="col col-8 col-sm-8">
                                    <!-- <p><h6>Orianna MU</h6> Aug 26,2020</p> -->
                                    <h6 style="color: #351800;">Orianna MU</h6>
                                    <div class="overflow-auto" style="width: auto; height: 50px;color:  	#652d00;">
                                        <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- <div class="overflow-auto" style="width: auto; height: 175px; margin-left: 15px; margin-right: 15px;">
            <div class="card" style="margin-top: 5px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-4 col-sm-4">
                            <img src="/static/customer/Customer.jpg" class="img img-fluid rounded" alt="Responsive image">
                        </div>
                        <div class="col col-8 col-sm-8">
                            <h6>Orianna MU</h6>
                            <div class="overflow-auto" style="width: auto; height: 50px;">
                                <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 5px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-4 col-sm-4">
                            <img src="/static/customer/Customer.jpg" class="img img-fluid rounded" alt="Responsive image">
                        </div>
                        <div class="col col-8 col-sm-8">
                            <h6>Orianna MU</h6>
                            <div class="overflow-auto" style="width: auto; height: 50px;">
                                <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 5px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-4 col-sm-4">
                            <img src="/static/customer/Customer.jpg" class="img img-fluid rounded" alt="Responsive image">
                        </div>
                        <div class="col col-8 col-sm-8">
                            <h6>Orianna MU</h6>
                            <div class="overflow-auto" style="width: auto; height: 50px;">
                                <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
    </div>
</div>

<div style="background-color: #f4f5ff;" class="fixed-bottom nav justify-content-end">
    <div style="height: 30px; width: auto;"></div>
    <div class="row" style="height: 130px; text-align: center;padding-top:14px;">
        <div class="col-4 col-sm-4">
            <img src="/static/customer/MilkTea/MilkTeaDemo.png" style="width: 100px; height: 100px; margin-left: 20px;">
        </div>
        <div class="col-4 col-sm-4">
            <h5 style="color: #351800;padding-left: 5px;">Milk Tea</h5>
            <p style="color:  	#652d00;padding-left: 5px;">$12.99</p>
            <button type="button" class="btn btn-none btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;background-color: #dfb36a;color:  	#652d00;" name="ordernow">Order Now</button>
            <br/>
        </div>
        <div class="col-4 col-sm-4 text-center">
            <br/>
            <p><button type="button" value="-" class="btn btn-none btn-sm text-center" style="border-radius: 50px;background-color: #652d00;color:  	#dfb36a;">&nbsp-&nbsp</button>&nbsp 1 &nbsp<button type="button" value="+" class="btn btn-none btn-sm text-center" style="border-radius: 50px;background-color: #652d00;color:  	#dfb36a;">&nbsp+&nbsp</button></p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-none btn-sm" value="" style="margin-bottom: 20px; border-radius: 20px;background-color: #652d00;color:  	#dfb36a;" data-toggle="modal" data-target="#exampleModalCenter">Add To Cart</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Your drink is add to cart successfully :)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" name="cart">Turn to cart</button>
                            <button type="button" class="btn btn-warning" name="order">Continue to order</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}