{% extends "/customer/shared/frame.html" %}

{% block title %}Product{% endblock %}

{% block custom_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/customer/product.css">
{% endblock %}

{% block frame_back_link %}{{ url_for('customer_home.home') }}{% endblock %}
{% block frame_title %}{% endblock %}
{% block frame_submit_form %}{% endblock %}
{% block frame_next_btn %}{% endblock %}

{% block content %}
<form action="{{ url_for('customer_cart.add_cart_item') }}" method="POST" id="product-info-form">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
	<input type="hidden" name="product_id" value="{{ product['product_id'] }}">
</form>
</form>
<div class="container">
	<img src="/static/media/pictures/{{ product['product_id'] }}" class="img img-fluid" alt="Responsive image"
		style="width: 100%">
</div><br />
<div>
	<div class="text-center">
		<h4>{{ product['product_name'] }}</h4>
	</div>
	<div class="product-des" align="center">
		{{ product['description'] }}</div>
	<br />
	<div style="height: auto;">
		<ul class="nav justify-content-end fixed-bottom" style="background-color: white;">
			<li class="nav-item col-4 col-sm-4 text-right">
				<h3 style="margin: 15px;">${{ product['price'] }}</h3>
			</li>
			<li class="nav-item col-2 col-sm-2"></li>
			<li class="nav-item col-6 col-sm-6 text-right">
				<button type="submit" class="btn btn-outline-warning btn-lg order-button" name="order"
					form="product-info-form"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
			</li>
		</ul>
	</div>
</div>
{% endblock %}