{% extends "/customer/shared/base.html" %}

{% block title %}ProductInfo{% endblock %}

{% block content %}
<div class="container">
    <img src="/static/customer/MilkTea/MilkTeaDemo.png" class="img img-fluid" alt="Responsive image">
</div><br/>
<div>
    <div class="text-center">
        <h4>Milk Tea</h4>
        <p><img src="/static/customer/Star.png" class="img img-fluid" alt="Responsive image">4.8 (233 ratings)</p>
    </div>
    <div class="overflow-auto" style="width: auto; height: 100px; margin-left: 20px; margin-right: 20px;">testing content: This is season limited, made of fresh peaches and green tea, (100% ice, 70% ice, 40% ice, 10% ice, no ice / 100% sugar, 70% sugar, 40% sugar, 10% sugar, no sugar)</div>
    <br/>
    <div class="overflow-auto" style="width: auto; height: 175px; margin-left: 15px; margin-right: 15px;">
        <div class="card" style="margin-top: 5px;">
            <div class="card-body">
                <div class="row">
                    <div class="col col-4 col-sm-4">
                        <img src="/static/customer/Customer.jpg" class="img img-fluid rounded" alt="Responsive image">
                    </div>
                    <div class="col col-8 col-sm-8">
                        <!-- <p><h6>Orianna MU</h6> Aug 26,2020</p> -->
                        <h6>Orianna MU</h6>
                        <div class="overflow-auto" style="width: auto; height: 50px;">
                            <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 5px;">
            <div class="card-body">
                <div class="row">
                    <div class="col col-4 col-sm-4">
                        <img src="/static/customer/Customer.jpg" class="img img-fluid rounded" alt="Responsive image">
                    </div>
                    <div class="col col-8 col-sm-8">
                        <!-- <p><h6>Orianna MU</h6> Aug 26,2020</p> -->
                        <h6>Orianna MU</h6>
                        <div class="overflow-auto" style="width: auto; height: 50px;">
                            <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 5px;">
            <div class="card-body">
                <div class="row">
                    <div class="col col-4 col-sm-4">
                        <img src="/static/customer/Customer.jpg" class="img img-fluid rounded" alt="Responsive image">
                    </div>
                    <div class="col col-8 col-sm-8">
                        <!-- <p><h6>Orianna MU</h6> Aug 26,2020</p> -->
                        <h6>Orianna MU</h6>
                        <div class="overflow-auto" style="width: auto; height: 50px;">
                            <p>testing content: abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: white;" class="fixed-bottom">
        <div style="height: 20px; width: auto;"></div>
        <div class="row">
            <div class="col-4 col-sm-4">
                <img src="/static/customer/MilkTea/MilkTeaDemo.png" style="width: 100px; height: 100px; margin-left: 20px;">
            </div>
            <div class="col-4 col-sm-4">
                <h5>Milk Tea</h5>
                <p>$12.99</p>
                <button type="button" class="btn btn-outline-danger btn-sm" value="" style="margin-bottom: 20px;">Order Now</button>
                <br/>
            </div>
            <div class="col-4 col-sm-4 text-center">
                <br/>
                <p><button type="button" value="-" class="btn btn-outline-warning btn-sm text-center">-</button> 1 <button type="button" value="+" class="btn btn-outline-warning btn-sm text-center">+</button></p>
                <button type="button" class="btn btn-outline-warning btn-sm" value="" style="margin-bottom: 20px;">Add To Cart</button>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}
