{% extends "/customer/shared/frame.html" %}

{% block title %}Redeem{% endblock %}

{% block custom_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/customer/redeem.css">
{% endblock %}

{% block frame_back_link %}{{ url_for('customer_me.me') }}{% endblock %}
{% block frame_title %}Redeem{% endblock %}
{% block frame_submit_form %}redeem-form{% endblock %}
{% block frame_next_btn %}Confirm{% endblock %}

{% block content %}
<style type="text/css">

</style>
<div>
	<div class="row row-cols-3" style="height: 30px;">
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8 title-1">
			Redeem your gift card
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row row-cols-3" style="height: 20px;">
	</div>

	<div class="row">
		<div class="col-1"></div>
		<div class="col-10 title-2">
			Please input the code of your gift card
		</div>
		<div class="col-1"></div>
	</div>

	<div class="row" style="height: 20px;">
	</div>
	<form action="{{ url_for('customer_me.redeem') }}" method="post" id="redeem-form">
		<div class="row" style="height: 30px;">
			<div class="col">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<input name="redeem_code" type="text" autocomplete="off" class="form-control input-redeem-code"
					placeholder="Gift card code" aria-label="code" aria-describedby="addon-wrapping">
			</div>
		</div>
	</form>
</div>

{{ super() }}
{% endblock %}