{% extends "/customer/shared/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block custom_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/customer/sign_up.css">
{% endblock %}

{% block content %}
<div class="row" style="height: 30px;"></div>
<div class="row">
	<div class="col-4" style="left: 1%;top: 3px;">
		<div class="Cancel"><a class="a1" href="{{ url_for('customer_view.login_redirect') }}">Cancel</a></div>
	</div>
	<div class="col-4" style="text-align: center;top: -3px;">
		<div data-layer="a167b8fc-e7e5-4bf1-8b42-4e89eea0e2f6" class="title">Sign Up</div>
	</div>
	<div class="col-4"></div>
</div>
<div class="row" style="height: 50px;"></div>
<div class="row">
	<div class="col-12" style="text-align: center;">
		<img src="../../static/customer/logo11.png" alt="pic lost" style="width:123px;height:139px;">
	</div>
</div>
<div class="row" style="height: 60px;"></div>

<form action="{{ url_for('customer_view.sign_up') }}" method="POST">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
	<div class="row">
		<div class="col-12" style="text-align: center;">
			<div style="position:relative; text-align: center;">
				<input type="text" class="form-control username" name="username" placeholder="Username"
					aria-label="Username" aria-describedby="basic-addon1">
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12" style="text-align: center;top: 8px;">
			<div style="position:relative; text-align: center;">
				<input type="text" class="form-control email-address" name="email" placeholder="Email address"
					aria-label="Email_address" aria-describedby="basic-addon1">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12" style="text-align: center; top: 16px;">
			<div style="position:relative; text-align: center;">
				<input type="password" class="form-control password" name="password" placeholder="Password"
					aria-label="Password" aria-describedby="basic-addon1">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12" style="text-align: center; top: 24px;">
			<div style="position:relative; text-align: center;">
				<input type="password" class="form-control password-confirm" name="password_confirm"
					placeholder="Confirm password" aria-label="Confirm_password" aria-describedby="basic-addon1">
			</div>
		</div>
	</div>

	<div class="row" style="height: 50px;">

	</div>

	<div class="row" style="text-align: center;">

		<div class="col-12" style="text-align: center;">
			<input type="submit" class="btn signup-botton" name="submit" value="SIGN UP">
		</div>
	</div>

</form>



{{ super() }}
{% endblock %}