{% extends "/customer/shared/navbar.html" %}

{% block title %}Please Login{% endblock %}

{% block custom_css %}
<style>
.form-control:focus{
    border-color:#ced4da;
    box-shadow:none;
    background-color: #cddc0000;
    
}
.form-control{
    display: inline-block;
}

.path663e31f9ba {
      fill: rgba(238, 219, 185, 1);
    filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.03137254901960784));
    height: 50.00px;
}

.path66 {
    fill: rgba(238, 219, 185, 1);
    box-shadow: none;
    width: 300.00px;
    height: 52.00px;

}

.title {
    line-height: 22.00px;
    letter-spacing: -0.34px;
    color: rgba(45, 64, 87, 1);
    font-size: 14.00px;
    font-weight: 300;
    font-style: normal;
    font-family: 'SF Pro Text', Arial;
    white-space: pre;
}
.title3a06c88c {
    letter-spacing: -0.48px;
    color: rgba(45, 64, 87, 1);
    font-size: 20.00px;
    font-weight: 400;
    font-style: normal;
    font-family: 'SF Pro Text', Arial;
    white-space: pre;
}

.path68 {
    fill: transparent;
    stroke: rgba(249, 60, 100, 1);
    stroke-width: 0.50px;
    height: 52.00px;
}

</style>
{% endblock %}

{% block content %}
<div class="row" style="height: 50px;"></div>
<div class="row">
    <div class="col-4" style="left: 1%;top: 3px;">
        <div class="title">Cancel</div>
    </div>
    <div class="col-4" style="text-align: center;top: -3px;">
        <div data-layer="a167b8fc-e7e5-4bf1-8b42-4e89eea0e2f6" class="title3a06c88c">Sign In</div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row" style="height: 35px;"></div>
<div class="row">
    <div class="col-12" style="text-align: center;">
        <img src="../../static/customer/logo11.png" alt="pic lost" style="width:123px;height:139px;">
    </div>
</div>
<div class="row" style="height: 35px;"></div>

<form action="">
    <div class="row">
        <div class="col-12" style="text-align: center;">
            <svg  preserveAspectRatio="none" viewBox="0 0 300 52" class="path68">
                <path d="M 28.55329513549805 0 L 271.4466857910156 0 C 287.2162475585938 0 300 11.64059734344482 300 26 C 300 40.35940170288086 287.2162475585938 52 271.4466857910156 52 L 28.55329513549805 52 C 12.78374671936035 52 0 40.35940170288086 0 26 C 0 11.64059734344482 12.78374671936035 0 28.55329513549805 0 Z"></path>
            </svg>
            <div style="position:relative; text-align: center; top: -44px;"> 
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" style="border: 1px solid #f8f9fa00;background-color: #f8f9fa00;color: rgba(45, 64, 87, 1);width: 280px;align-self: center;">
            </div>
        </div>
    </div>
    
    <div class="col-12" style="text-align: center;">
        <svg preserveAspectRatio="none" viewBox="0 0 300 52" class="path68">
            <path d="M 28.55329513549805 0 L 271.4466857910156 0 C 287.2162475585938 0 300 11.64059734344482 300 26 C 300 40.35940170288086 287.2162475585938 52 271.4466857910156 52 L 28.55329513549805 52 C 12.78374671936035 52 0 40.35940170288086 0 26 C 0 11.64059734344482 12.78374671936035 0 28.55329513549805 0 Z"></path>
        </svg>
        <div style="position:relative; text-align: center; top: -44px;"> 
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" style="border: 1px solid #f8f9fa00;background-color: #f8f9fa00;color: rgba(45, 64, 87, 1);width: 280px;align-self: center;">
        </div>
    </div>
    
    <div class="row" style="height: 70px;"></div>
    
    <div class="row" style="text-align: center;">
    
            <div class="col-12" style="text-align: center;">
                <a href="#">            
                    <div class="button">            
                        <svg preserveAspectRatio="none" viewBox="0 0 300 52" class="path66">
                            <path d="M 28.55329513549805 0 L 271.4466857910156 0 C 287.2162475585938 0 300 11.64059734344482 300 26 C 300 40.35940170288086 287.2162475585938 52 271.4466857910156 52 L 28.55329513549805 52 C 12.78374671936035 52 0 40.35940170288086 0 26 C 0 11.64059734344482 12.78374671936035 0 28.55329513549805 0 Z"></path>
                        </svg>
                        <div style="position: relative; top: -45px;">
                            <div style="line-height: 35.00px;
                            letter-spacing: 1.40px;
                            color: rgba(255, 255, 255, 1); 
                            font-size: 14.00px;
                            font-weight: 300;
                            font-style: normal;
                            font-family: 'SF Pro Text', Arial;
                            white-space: pre;">SIGN IN</div>
                        </div>
                    </div>
                </a>
            </div>
    </div>
</form>



{{ super() }}
{% endblock %}
