<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0 ">
  <link rel="stylesheet" href="/static/bootstrap-4.4.1/css/bootstrap.min.css">
  <title>Admin Login - Mooli</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/admin/login.css">
</head>

<body data-gr-c-s-loaded="true">
  <div class="container text-center" style="width: 400px; vertical-align: middle;">
    <form class="{{ url_for('admin_auth.login') }}" method="post">
      <img class="mb-4" src="/static/Logo_250_250.png" alt="" width="150" height="150">
      <h1 class="h3 mb-3 font-weight-normal">Staff Login</h1>
      <br>

      <!-- Error Message -->
      <div class="alert alert-primary" role="alert" style="display: none;" id="flash-box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <span class="message">{{ message }}</span>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Input Fields -->
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
        autofocus="">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
      <br><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2020 Repo Network</p>
    </form>
  </div>

  <script src="/static/bootstrap-4.4.1/js/jquery-3.4.1.slim.min.js"></script>
  <script src="/static/bootstrap-4.4.1/js/popper.min.js"></script>
  <script src="/static/bootstrap-4.4.1/js/bootstrap.min.js"></script>

  <!-- Script for the flash message -->
  <script type="text/javascript">
    if ($('.message').text().length > 0) {
      $('#flash-box').show()
    }
  </script>
</body>

</html>