{% extends "/admin/shared/base.html" %}

{% block content %}
<p><a href="#">Home</a> / Products </p>
<button class="btn btn-primary" type="button" name="button"> <span class="glyphicon glyphicon-plus"></span>Add </button> <br><br>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Product</th>
        <th>Category</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Manage</th>
    </tr>
    <tr>
        <td>Milk Tea (Original)</td>
        <td>Milk Tea</td>
        <td>$12.99</td>
        <td>4.8</td>
        <td>
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>Milk Tea (Original)</td>
        <td>Milk Tea</td>
        <td>$12.99</td>
        <td>4.8</td>
        <td>
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>Milk Tea (Original)</td>
        <td>Milk Tea</td>
        <td>$12.99</td>
        <td>4.8</td>
        <td>
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>Milk Tea (Original)</td>
        <td>Milk Tea</td>
        <td>$12.99</td>
        <td>4.8</td>
        <td>
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>Milk Tea (Original)</td>
        <td>Milk Tea</td>
        <td>$12.99</td>
        <td>4.8</td>
        <td>
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>Milk Tea (Original)</td>
        <td>Milk Tea</td>
        <td>$12.99</td>
        <td>4.8</td>
        <td>
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
        </td>
    </tr>
</table>
{% endblock %}
