{% extends "/admin/shared/base.html" %}

{% block title %}Product{% endblock %}

{% block content %}
<div class="row">
	<div class="col" id="location">
		<span><a href="{{ url_for('admin_dashboard.dashboard') }}">Home</a> / Staff </span>
	</div>
</div>
<div class="row">
	<div class="col-9">
		<button class="btn btn-light" type="button" name="button" data-toggle="modal" data-target="#newModal"><i
				class="fa fa-plus"></i></button><br><br>
	</div>
</div>

<table class="table table-bordered table-striped table-hover">
	<tr>
		<th>User ID</th>
		<th>Username</th>
		<th>Email</th>
		<th>Name</th>
		<th>Role</th>
		<th>Phone</th>
		<th>Manage</th>
	</tr>
	{% for staff in staffs %}
	<tr>
		<td>{{ staff['user_id'] }}</td>
		<td>{{ staff['username'] }}</td>
		<td>{{ staff['email'] }}</td>
		<td>{{ staff['first_name'] }} {{ staff['last_name'] }}</td>
		<td>{{ staff['role_name'] }}</td>
		<td>{{ staff['phone'] }}</td>
		<td>
			<div class="dropdown">
				<button class="btn btn-light dropdown-toggle" type="button" id="maangeButton" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-gear"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#" data-toggle="modal" data-target="#editModal"
						data-user-id="{{ staff['user_id'] }}"
						data-username="{{ staff['username'] }}"
						data-email="{{ staff['email'] }}"
						data-role-id="{{ staff['role_id'] }}"
						data-first-name="{{ staff['first_name'] }}"
						data-last-name="{{ staff['last_name'] }}"
						data-gender="{{ staff['gender'] }}"
						data-phone="{{ staff['phone'] }}"
						>Edit</a>
					<a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal"
						data-user-id="{{ staff['user_id'] }}"
						data-username="{{ staff['username'] }}"
						>Delete</a>
				</div>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

<!-- Modal for adding new staff -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newModalLabel">New staff</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{ url_for('admin_staff.new_staff') }}" method="post" id="add-form">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
					<div class="form-group">
						<label class="col-form-label">Username</label>
						<input type="text" class="form-control" id="new-username" name="username">
					</div>
					<div class="form-group">
						<label class="col-form-label">Email:</label>
						<input type="email" class="form-control" id="new-email" name="email">
					</div>
					<div class="form-group">
						<label class="col-form-label">Password:</label>
						<input type="password" class="form-control" id="new-password" name="password">
					</div>
					<div class="form-group">
						<label class="col-form-label">Role:</label>
						<select class="form-control" id="new-role" name="role_id">
							{% for role in roles %}
							<option value="{{ role['role_id'] }}">{{ role['role_name'] }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label class="col-form-label">First name:</label>
						<input type="text" class="form-control" id="new-first-name" name="first_name">
					</div>
					<div class="form-group">
						<label class="col-form-label">Last name:</label>
						<input type="text" class="form-control" id="new-last-name" name="last_name">
					</div>
					<div class="form-group">
						<label class="col-form-label">Gender:</label>
						<select class="form-control" id="new-gender" name="gender">
							<option value='M'>Male</option>
							<option value='F'>Female</option>
						</select>
					</div>
					<div class="form-group">
						<label class="col-form-label">Phone:</label>
						<input type="text" class="form-control" id="new-phone" name="phone">
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" form="add-form">Confirm</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for editing staff info -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editModalLabel">Edit staff</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{ url_for('admin_staff.edit_staff') }}" method="post" id="edit-form">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="user_id"/>
					<div class="form-group">
						<label class="col-form-label">Username</label>
						<input type="text" class="form-control" id="edit-username" name="username" readonly>
					</div>
					<div class="form-group">
						<label class="col-form-label">Email:</label>
						<input type="email" class="form-control" id="edit-email" name="email" readonly>
					</div>
					<div class="form-group">
						<label class="col-form-label">Role:</label>
						<select class="form-control" id="edit-role" name="role_id">
							{% for role in roles %}
							<option value="{{ role['role_id'] }}">{{ role['role_name'] }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label class="col-form-label">First name:</label>
						<input type="text" class="form-control" id="edit-first-name" name="first_name">
					</div>
					<div class="form-group">
						<label class="col-form-label">Last name:</label>
						<input type="text" class="form-control" id="edit-last-name" name="last_name">
					</div>
					<div class="form-group">
						<label class="col-form-label">Gender:</label>
						<select class="form-control" id="edit-gender" name="gender">
							<option value='M'>Male</option>
							<option value='F'>Female</option>
						</select>
					</div>
					<div class="form-group">
						<label class="col-form-label">Phone:</label>
						<input type="text" class="form-control" id="edit-phone" name="phone">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" form="edit-form">Confirm</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for removing staff -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete staff</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="delete-confirm-message"></p>
				<form action="{{ url_for('admin_staff.delete_staff') }}" method="post" id="delete-form">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="user_id" id="delete-user-id">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-danger" form="delete-form">Confirm</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

	$(".custom-file-input").on("change", function () {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName)
	})

	$('#editModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget)
		var modal = $(this)
		modal.find('#edit-user-id').val(button.data('user-id'))
		modal.find('#edit-username').val(button.data('username'))
		modal.find('#edit-email').val(button.data('email'))
		modal.find('#edit-role').val(button.data('role-id'))
		modal.find('#edit-first-name').val(button.data('first-name'))
		modal.find('#edit-last-name').val(button.data('last-name'))
		modal.find('#edit-gender').val(button.data('gender')[2])
		modal.find('#edit-phone').val(button.data('phone'))
	})

	$('#deleteModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget)
		var modal = $(this)
		modal.find('#delete-confirm-message').text('Are you sure to delete the staff named ' + 
			button.data('username') + '?\n\The operation will only remove the user from the staff list.\n' + 
			'The user will be able to access the system as a customer.')
		modal.find('#delete-user-id').val(button.data('user-id'))
	})

	$('#new-username').tooltip({'trigger':'focus', 'title': 'The length of a username must be between 6 and 24 characters.'})
	$('#new-password').tooltip({'trigger':'focus', 'title': 'The password should be 8-24 characters long, containing upper and lower case letters, and digits.'})

</script>
{% endblock %}