.change{
    background-color: rgba(255, 255, 255, 0);
    color:#652d00;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 20px;
    font-style: normal;
    font-family: 'SF Pro Text', Arial;
    height: 50px;
    text-align: center;
}

.old{
    background-color: rgba(255, 255, 255, 0);
    color:#652d00;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 20px;
    font-style: normal;
    font-family: 'SF Pro Text', Arial;
    height: 40px;
}

.old-input{
    font-family: Avenir, Arial;
    width: 250px;
}