.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.order{
    background-color: rgba(255, 255, 255, 0);
    color:  	#955a3f;
    text-align: center;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 20px;
    font-style: normal;
    font-family: 'SF Pro Text', Arial;
}

.text{
    text-align: center;line-height: 41.96px;
    font-size: 14.00px;
    font-weight: 400;
    font-style: normal;
    font-family: 'SF Pro Text', Arial;
}

.button{
    background-color: #dfb36a;width: 280px;height: 52px; border-radius: 50px;line-height: 35.00px;
    letter-spacing: 1.40px;
    color: #955a3f; 
    border-top-style: none;
    border-top-width: 1.00px;
    border-radius: 50.00px;
    filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08235294117647059));
    font-size: 15.00px;
    font-weight: 1000;
    font-style: normal;
    font-family: 'SF Pro Text', Arial;
    white-space: pre;
    height: 50px;
}