.svg-style{
    fill: 	#652d00;
	stroke: rgba(0, 0, 0, 0);
	stroke-width: 1.00px;
	stroke-linecap: butt;
	/* box-shadow: none; */
	width: 12.74px;
	height: 20px;
}

.right-1{
    text-align: right;
    right: 5px;
}

.product-des{
    width: auto; 
    height: 100px; 
    margin-left: 20px; 
    margin-right: 20px;
}

.order-button{
    margin: 10px; 
    border-radius: 30px;
}